<template name="mission">
	<div style="text-align:center;margin-left: 3%;margin-right:3%;">
		<img src="/images/logo.png" class="mission" id="logo">

		<p class="mission" id="text">Our mission is to catalyze collaboration between innovators, practitioners, organizations, and civil society through open source projects in the global development arena that will enable 
			them to define priorities, share innovative approaches, build a robust evidence base, and shape the discussion around the Sustainable Development Goals.</p>

	<img src="images/chevron_down.png" style="margin-left:auto;margin-right:auto;display:block;height:40px;">
	</div>
</template>