.grid-block, .main, .post, .comments li, .comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    /*background: #eee;*/
    color: #666666;
}
.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }
.post {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.post:before, .post:after {
    content: "";
    display: table;
}
.post:after { clear: both }
.post.invisible { opacity: 0 }
.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.post .post-content { float: left }
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.post .post-content p { margin: 0 }
.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}



/*Profiles*/
.profPicWrapper {
    padding: 20px;
    color: #999999;
    background-color: whitesmoke;
    border-color: #dddddd;
    text-align: center;
}

.profPicWrapper img {
    max-width: 100%;
    margin: auto
}

.info {
    width: 80%;
    word-spacing: 3pt;
}

.info img {
    width: 25px;
    max-height: 25px;
}

.focusAreas {
    color: #999999;
    background-color: whitesmoke;
    border-color: #dddddd;
}

.stats {
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
}

.stats h5 {
    color: DodgerBlue;
}

.stats img {
    max-width: 100px;
    max-height: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.stats > div {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid silver;
  margin-bottom: 8px;
}

.stats .col-md-4 {
    padding-top: 10px;
    text-align: right;
}


.topContributions {
    list-style-type: square;
}

.topContributions row {
    list-style: none;
    padding:0;
    margin:0;
}

.topContributions .title { 
    padding-left: 1em; 
    text-indent: -.7em;
}

.topContributions .title:before {
    content: "■";
    padding-right: 7px;
    color: blue; 
}

.points {
    text-align: right;
}


/*Splash page*/
#video-wrapper {
    height: 90%;
    width: 90%;
    position: absolute;
    top: -6em;
    left: 50%;
    margin-left: -45%;
}



.mission#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -200px;
    height: 20%;
}

.mission#text {
    position: relative;
    top: -140px;
    font-size: 20px;
}

.mission#more {
    font-size: 15px;
    color: gray;
}



.project {
    padding: 15px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: left; 
    position: relative;
    top: -40px;
}       

.project img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.project .title {
    font-size: 18pt;
}

.project button {
   float: right;
   color: white;
   margin-bottom: 5px;
}

.project .join {
    position: relative;
    left: -15px;
}

.project .learn-more {
    background-color: MediumPurple;
}

.divider {
    position: static;
    border-left:1px solid black; 
    height:auto;
    min-height: 120px;
    margin: 0 auto;
    float: left; 
    width:10px;
}

.coming-soon {
   position: absolute;
   left: 0;
   top: 0;
   background-color: rgba(0,0,0,.80);
   border-radius: 10px;
   height: 100%;
   width: 100%;
   text-align: center;
   color: silver;
   z-index: 10;
}

.comingsoon h3 {
    z-index: 20;
    top: 50%;
}

.global-challenges .title {
    color: #B0C4DE;
}

.literature-curation .title {
  color: #f0ad4e;
}

.open-innovation .title {
    color: SeaGreen;
}
